<!DOCTYPE html>
<html>
    <head>
        <title>Twitter Sentimento</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="shortcut icon" href="{{ url_for('static', filename='twitter-sentiment.ico') }}">
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="{{ url_for('static', filename='js/dimple.v2.3.0.min.js') }}"></script>
         <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
              crossorigin="anonymous"></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <h1>Twitter Sentimento</h1>
                <br>
                <form role="form" method='POST' action='/'>
                    <div class='form-group'>
                        <input type"text" name="url" class="form-control" id="url-box" placeholder="Busque no Twitter" style='max-width:300px;' autofocus required>
            </div>
            <button type="submit" class="btn btn-default">Buscar</button>
        </form>
        <br>
        {% if error %}
            <h4>Não foi possível encontrar tweets relacionados à busca. Tente outra coisa ;-)</h4>
        {% endif %}
        <br>
    </div>
</div>
    <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        {% if results %}
            <h3>Distribuição de Sentimentos</h3>
            <div id="results">
                <div id="chartContainer">
                  <script type="text/javascript">
                    var svg = dimple.newSvg("body", 600, 400);
                    var data = [{'Sentimento': 'Negativo', 'Tweets': {{ cont[0] }}}, {'Sentimento': 'Neutro', 'Tweets': {{ cont[1] }}}, {'Sentimento': 'Positvo', 'Tweets': {{ cont[2] }}}];
                    var chart = new dimple.chart(svg, data);
                    chart.addCategoryAxis("x", "Sentimento");
                    chart.addMeasureAxis("y", "Tweets");
                    chart.addSeries(null, dimple.plot.bar);
                    chart.draw();
                  </script>
                </div>
            </div>
        {% endif %}
    </div>
    </div>
</div>
</body>
</html>



